@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Domingos Ribeiro<br />
    Braga - Portugal<br />
    <abbr title="Phone">Telm:</abbr>
    919 428 450
</address>

<address>
    <strong>Problemas Técnicos:</strong>   <a href="mailto:domingos.ribeiro@gmail.com">Clique aqui para entrar em contacto.</a><br />
    
</address>