@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>PRODUÇÃO DE ASP.NET</h2>
    <p class="lead">Trabalho realizado no âmbito da UFCD 25 - 3936 <br />IEFP - Curso EFA - Programador(a) de Informática.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

