@model EconomatoWEB.Models.TipoDeArtigo

@{
    ViewBag.Title = "Delete";
}

<h2>Operações na Base de Dados</h2>
<br />
<h4>INFO</h4>
<h5>Este foi o caminho que seguiu para chegar a esta página: <b>Operações Regulares - Tipo de Artigos - ELIMINAR</b></h5>

<br />
<br />


<h3>Tem mesmo Certeza que deseja Eliminar este Tipo de Artigo?</h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ELIMINAR" class="btn btn-default" /> -
            @Html.ActionLink("VOLTAR", "Index")
        </div>
    }
</div>
