@model EconomatoWEB.Models.TipoDeArtigo

@{
    ViewBag.Title = "Details";
}
<h2>Operações na Base de Dados</h2>
<br />
<h4>INFO</h4>
<h5>Este foi o caminho que seguiu para chegar a esta página: <b>Operações Regulares - Tipo de Artigos - DETALHES</b></h5>


<br />
<br />
<div>
    <h4>Tipo De Artigos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("EDITAR", "Edit", new { id = Model.IdTipoDeArtigos }) |
    @Html.ActionLink("VOLTAR", "Index")
</p>
