@model EconomatoWEB.Models.Entidade

@{
    ViewBag.Title = "Delete";
}
<h2>Operações na Base de Dados</h2>
<br />
<h4>INFO</h4>
<h5>Este foi o caminho que seguiu para chegar a esta página: <b>Operações Regulares - Fornecedores - ELIMINAR</b></h5>

<br />
<br />


<h3>Tem mesmo Certeza que deseja Eliminar este Fornecedor?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Designacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designacao)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ELIMINAR FORNECEDOR" class="btn btn-default" /> <br />
            <br />
            <br />
            @Html.ActionLink(" VOLTAR", "Index")
        </div>
    }
</div>
