@model EconomatoWEB.Models.Entidade

@{
    ViewBag.Title = "Details";
}

<br />
<h4>INFO</h4>
<h5>Este foi o caminho que seguiu para chegar a esta página: <b>Operações Regulares - Fornecedores - DETALHES</b></h5>

<br />
<br />
<br />

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Designacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("EDITAR", "Edit", new { id = Model.IdEntidade }) -
    @Html.ActionLink("VOLTAR", "Index")
</p>
